
	  <!-- start 本文エリア -->
		<div class="row">
			<h1>アカウント管理</h1>
			<!-- <div class="topmargin alert alert-info text-center">
			メッセージ表示列
			</div> -->
			<!-- start フォーム -->
			<form class="form-horizontal">
				<!-- 契約No -->



				<div class="form-group">
					<div class="corporate_id"></div>
				</div>

				<!--
				<div class="form-group">
					<div class="agreement_no"></div>
				</div>
				-->
				<div class="form-group">
					<label class="col-md-2 control-label" for="user_id">ログインID</label>
					<div class="col-md-6">
						<input type="text" class="form-control input-sm" id="user_id" placeholder="ログインIDを入力してください">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="user_name">ユーザ名称</label>
					<div class="col-md-6">
						<input type="text" class="form-control input-sm" id="user_name" placeholder="ユーザー名称を入力してください">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="mail_address">メールアドレス</label>
					<div class="col-md-6">
						<input type="text" class="form-control input-sm" id="mail_address" placeholder="メールアドレスを入力してください">
					</div>
				</div>
				<!--div class="form-group">
					<div class="col-md-2 control-label"><b>発注区分</b></div>
					<div class="col-md-18">
						<label class="checkbox-inline"><input type="checkbox" id="order_kbn0" name="order_kbn[]" value="1" class="checkbox-inline" checked="1" />貸与</label>
						<label class="checkbox-inline"><input type="checkbox" id="order_kbn1" name="order_kbn[]" value="3" class="checkbox-inline" checked="1" />サイズ交換</label>
						<label class="checkbox-inline"><input type="checkbox" id="order_kbn2" name="order_kbn[]" value="4" class="checkbox-inline" checked="1" />消耗交換</label>
						<label class="checkbox-inline"><input type="checkbox" id="order_kbn3" name="order_kbn[]" value="5" class="checkbox-inline" checked="1" />異動</label>
					</div>
				</div-->
				<div class="individual_number"></div>
				<div class="form-group">
					<div class="col-md-2 col-md-push-2 " style="margin-left: 500px">
						<input type="hidden" class="ui_type" id="ui_type" name="ui_type" value="history">
						<a type="button" data-page="1" class="btn btn-primary btn-sm btn-block search" title="検索" id="button1">検索</a>
					</div>
				</div>
			</form>

			<div class="form-group col-md-2">
				<div class="">
				<form>
				 <button type="submit" class="btn btn-primary btn-sm btn-block add" data-toggle="modal" data-target="#account_modal">
					 アカウント追加
				 </button>
			 </form>
		 </div>
		 </div>

			<!-- end フォーム -->

			<hr class="clear">
