<div id="scrollTable" style="border-bottom: none">
    <table class="table table-bordered">
        <thead class="grad_head">
            <tr>
                <th class="th_account_no"><a href="#" id="accnt_no" class="sort">アカウントNo.</a></th>
                <th class="th_corporate_id"><a href="#" id="corporate_id" class="sort">企業ID</a></th>
                <th class="th_rntl_cntl_no"><a href="#" id="rntl_cntl_no" class="sort">契約No.</a></th>
                <th class="th_login_id"><a href="#" id="user_id" class="sort">ログインID</a></th>
                <th class="th_user_name"><a href="#" id="user_name" class="sort">ユーザー名称</a></th>
                <th class="th_login_name"><a href="#" id="login_disp_name" class="sort">ログイン表示名</a></th>
                <th class="th_position_name"><a href="#" id="position_name" class="sort">所属</a></th>
                <th class="th_user_type"><a href="#" id="user_type" class="sort">管理権限</a></th>
                <th class="th_login_err_count"><span class="glyphicon glyphicon-lock"></th>
                <th class="th_mail_address"><a href="#" id="mail_address" class="sort">メールアドレス</a></th>
                <th class="th_last_pass_word_upd_date"><a href="#" id="last_pass_word_upd_date" class="sort">PW最終更新日</a></th>
                <th class="th_edit">編集</th>
                <th class="th_password_change">パスワード変更</th>
                <th class="th_delete">削除</th>
            </tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
