<table class="table table-bordered">
		<thead>
		<tr>
			<th class="th_login_id">ログインID</th>
			<th class="th_user_name">ユーザー名称</th>
			<th class="th_position_name">所属</th>
			<th class="th_user_type">管理権限</th>
			<th><span class="glyphicon glyphicon-lock"></th>
			<th class="th_edit">編集</th>
			<th class="th_delete">削除</th>
		</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
