<table class="table table-bordered">
        <thead class="grad_head">
            <tr>
                <th>アカウントNo.</th>
                <th>企業ID</th>
                <th>契約No.</th>
                <th class="th_login_id">ログインID</th>
                <th class="th_user_name">ユーザー名称</th>
                <th>ログイン表示名</th>
                <th class="th_position_name">所属</th>
                <th class="th_user_type">管理権限</th>
                <th><span class="glyphicon glyphicon-lock"></th>
                <th>メールアドレス</th>
                <th>PW最終更新日</th>
                <th class="th_edit">編集</th>
                <th>パスワード変更</th>
                <th class="th_delete">削除</th>
            </tr>
		</thead>
		<tbody>
		</tbody>
	</table>
