<!--div class="text-center"-->
	<a href="#" type="button" class="btn btn-primary btn-sm" id="download_btn" title="ダウンロード" style="margin:20px;vertical-align:top">ダウンロード</a>
<!--/div-->
<div class="modal fade modal-dialog" id="ImportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p id="confirm_txt"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_ok" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>