<!--div class="text-center"-->
	<a href="#" type="button" class="btn btn-primary btn-sm" id="download_btn" title="ダウンロード" style="margin:20px;vertical-align:top">ダウンロード</a>
	<input type="hidden" class="ui_type" id="ui_type" name="ui_type" value="history">
<!--/div-->
