<div class="container" role="history">
	<div class="condition col-sm-12"></div>
	<center>
		<div class="page col-sm-12"></div>
	</center>
	<div class="listTable col-sm-12"></div>
	<center>
		<table>
			<tr>
				<th><div class="page_2 col-sm-12"></div></th>
				<th><div class="download col-sm-12"></div></th>
			</tr>
		</table>
	</center>
</div> <!-- /container -->
<div class="detail_modal"></div>
<div class="footer_area"></div>
