<div class="container" role="home">
	<div class="row index-body-margin">
		<h1>トップメニュー</h1>
		<div class="topmargin pull-left dspilb border_radius index-body">
			<div class="head_1">
				<br />
				■お知らせ
				<br />
			</div>
			<div class="text_1">
				
				{{#each info_list}}
				<br />
				{{breaklines message}}
				<br /><br />
				{{/each}}
				
				<br />
				<br />
				<br />
			</div>
		</div>
	</div>
</div>
<div class="footer_area"></div>