<div class="container text-left" role="home">

	<!-- start 本文エリア -->
	<div class="row" style="margin-bottom:20px">
		<h1>ホーム</h1>
		<!--↑適宜編集 -->
		<div class="col-md-12 topmargin pull-left border_radius" style="border:1.8px solid #999;padding: 0 20px 40px">
			<div class="row block">
                <h2 class="col-md-2">■ 処理状況</h2>
                <div class="col-md-9">
                    <ul class="list-unstyled red row">
                        <li class="col-md-5 row"><span class="col-md-7">・正社員番号未登録件数</span><span class="col-md-5">{{emply_cd_no_regist_cnt}}件</span></li>
                        <li class="col-md-4 row"><span class="col-md-6">・未受領件数</span><span class="col-md-6">{{no_recieve_cnt}}件</span></li>
                        <li class="col-md-4 row"><span class="col-md-6">・未返却件数</span><span class="col-md-6">{{no_return_cnt}}件</span></li>
                    </ul>
                </div>
			</div>

			<div class="row block">
				<h2 class="col-md-2">■ お知らせ</h2>
				<div class="col-md-9">
					{{#each info_list}}
					<br />
					{{breaklines message}}
					<br /><br />
					{{/each}}
				</div>
			</div>

			<div class="block">
				<div class="row btn_group border_radius">
					<h2 class="col-md-2">■ 入力</h2>
					<ul class="col-md-10">
						{{#if button1_use_flg}}<li class="col-md-3 col-pl-0 col-pb-10"><a class="btn btn-primary" id='wearer_input' title="貸与開始">貸与開始</a><br>入社、復職、制服非着用部門からの異動等</li>{{/if}}
						{{#if button2_use_flg}}<li class="col-md-3 col-pl-0 col-pb-10"><a href="wearer_size_change.html" class="btn btn-primary" title="交換">交換</a><br>サイズ交換、消耗交換、不良品交換等</li>{{/if}}
						{{#if button3_use_flg}}<li class="col-md-3 col-pl-0 col-pb-10"><a href="wearer_change.html" class="btn btn-primary" title="職種変更または異動">職種変更または異動</a><br>貸与パターンの変更、異動（拠点変更）等</li>{{/if}}
						{{#if button4_use_flg}}<li class="col-md-3 col-pl-0 col-pb-10"><a class="btn btn-primary" id='wearer_end' title="貸与終了">貸与終了</a><br>退職、休職、制服非着用部門への異動</li>{{/if}}
						{{#if button5_use_flg}}<li class="col-md-3 col-pl-0 col-pb-10"><a href="wearer_other.html" class="btn btn-primary" title="その他貸与/返却">その他貸与/返却</a><br>追加貸与、不用品返却等</li>{{/if}}
					</ul>
				</div>

				<div class="row btn_group border_radius">
					<h2 class="col-md-2">■ 検索・照会</h2>
					<ul class="col-md-10">
						{{#if button6_use_flg}}<li><a href="history.html" class="col-md-3 btn btn-primary" title="発注状況照会">発注状況照会</a></li>{{/if}}
						{{#if button7_use_flg}}<li><a href="unreturn.html" class="col-md-3 btn btn-primary" title="返却状況照会">返却状況照会</a></li>{{/if}}
						{{#if button8_use_flg}}<li><a href="receive.html" class="col-md-3 btn btn-primary" title="受領確認照会">受領確認照会</a></li>{{/if}}
						{{#if button9_use_flg}}<li><a href="stock.html" class="col-md-3 btn btn-primary" title="在庫照会">在庫照会</a></li>{{/if}}
						{{#if button10_use_flg}}<li><a href="wearer.html" class="col-md-3 btn btn-primary" title="着用者照会">着用者照会</a></li>{{/if}}
						{{#if button11_use_flg}}<li><a href="manpower_info.html" class="col-md-3 btn btn-primary" title="請求書データ照会">請求書データ照会</a></li>{{/if}}
					</ul>
				</div>

				<div class="row btn_group border_radius">
					<h2 class="col-md-2">■ 管理</h2>
					<ul class="col-md-10">
						{{#if button12_use_flg}}<li><a href="wearer_edit.html" class="col-md-3 btn btn-primary" title="着用者編集">着用者編集</a></li>{{/if}}
						{{#if button13_use_flg}}<li><a href="print.html" class="col-md-3 btn btn-primary" title="返却伝票印刷">返却伝票印刷</a></li>{{/if}}
						{{#if button14_use_flg}}<li><a href="order_send.html" class="col-md-3 btn btn-primary" title="発注送信処理">発注送信処理</a></li>{{/if}}
						{{#if button15_use_flg}}<li><a href="lend.html" class="col-md-3 btn btn-primary" title="貸与リスト">貸与リスト</a></li>{{/if}}
					</ul>
				</div>

				<div class="row btn_group border_radius">
					<h2 class="col-md-2">■ 購買・その他</h2>
					<ul class="col-md-10">
						{{#if button16_use_flg}}<li><a href="purchase_input.html" class="col-md-3 btn btn-primary" title="注文入力">注文入力</a></li>{{/if}}
						{{#if button17_use_flg}}<li><a href="purchase_history.html" class="col-md-3 btn btn-primary" title="注文履歴">注文履歴</a></li>{{/if}}
						{{#if button18_use_flg}}<li><a href="q_and_a.html" class="col-md-3 btn btn-primary" title="Q&amp;A">Q&amp;A</a></li>{{/if}}
						{{#if button19_use_flg}}<li><a href="inquiry.html" class="col-md-3 btn btn-primary" title="お問い合わせ">お問い合わせ</a></li>{{/if}}
					</ul>
				</div>

				<div class="row btn_group border_radius">
					<h2 class="col-md-2">■ 管理者機能</h2>
					<ul class="col-md-10">
						{{#if button20_use_flg}}<li><a href="importCsv.html" class="col-md-3 btn btn-primary" title="一括データ取込">一括データ取込</a></li>{{/if}}
						{{#if button21_use_flg}}<li><a href="account.html" class="col-md-3 btn btn-primary" title="アカウント管理">アカウント管理</a></li>{{/if}}
						{{#if button22_use_flg}}<li><a href="info.html" class="col-md-3 btn btn-primary" title="お知らせ管理">お知らせ管理</a></li>{{/if}}
					</ul>
				</div>

			</div>

			<div class="row block">
				<h2 class="col-md-2">■ ドキュメント</h2>
				<div class="col-md-9">
					<ul>
						<li><a href="#" class="text_1">運用マニュアルVer1.0</a></li>
						<li><a href="#" class="text_1">特寸サイズ依頼書</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="footer_area"></div>
