<div class="form-group">
	<label class="col-md-2 control-label" for="office">個体管理番号</label>
	<div class="col-md-5">
		<input type="text" class="form-control input-sm" id="individual_number" name="individual_number" value="">
	</div>
</div>
