<div class="text-center tablewidth divcentering" >
	<div id="scrollTable">
		<table class="table table-bordered">
			<thead class="grad_head">
				<tr>
					<th class="th_id">ID</th>
					<th class="th_corporate">企業名</th>
					<th class="th_edit">編集</th>
					<th class="th_delete">削除</th>
					<th class="th_display_order">表示順</th>
					<th class="th_open_date">公開開始日時</th>
					<th class="th_close_date">公開終了日時</th>
					<th class="th_message">表示メッセージ</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
