<div class="container" role="info">
	<!-- start 本文エリア -->
	<div class="row">
		<h1>お知らせ管理</h1>
		<!-- <div class="topmargin alert alert-info text-center">
		メッセージ表示列
		</div> 
		<hr>-->
		
		<!-- start フォーム -->
		<form>
			<div class="form-group">
				<div class="col-md-2">
			 <button type="submit" class="btn btn-primary btn-sm btn-block add" data-toggle="modal" data-target="#info_modal">
				 お知らせ追加
			 </button>
				</div>
			</div>
		</form>
	</div>
		<!-- end フォーム -->
	<div class="page col-sm-12"></div>
	<div class="listTable col-sm-12"></div>
</div> <!-- /container -->
<div class="info_modal"></div>
<div class="footer_area"></div>
