<div class="row">
	<h1>お問い合わせ一覧</h1>
	<form class="form-horizontal">
		<div class="form-group corporate" style="display:none;">
			<label class="col-md-2 control-label" for="no">企業名</label>
			<div class="col-md-4">
				<select class="form-control input-sm" id="corporate" name="corporate">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="no">契約No</label>
			<div class="col-md-4">
				<select class="form-control input-sm" id="agreement_no" name="agreement_no">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="">回答状況</label>
			<div class="col-md-10 form-inline">
				<label class="checkbox-inline"><input type="checkbox" id="answer_kbn0" name="answer_kbn0" value="1">未回答</label>
				<label class="checkbox-inline"><input type="checkbox" id="answer_kbn1" name="answer_kbn1" value="2">回答済</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="order_day">お問い合わせ日付</label>
			<div class="col-md-8 form-inline">
			<div class='input-group date datepicker'>
				<input type='text' class="form-control  input-sm datepicker" id='contact_day_from' name="contact_day_from">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</div>
			</div>&nbsp;―
			<div class='input-group date datepicker'>
				<input type='text' class="form-control  input-sm datepicker" id='contact_day_to' name="contact_day_to">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</div>
			</div>&nbsp;
			</div>&nbsp;
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="send_day">回答日付</label>
			<div class="col-md-8 form-inline">
			<div class='input-group date datepicker'>
				<input type='text' class="form-control  input-sm datepicker" id='answer_day_from' name="answer_day_from">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</div>
			</div>&nbsp;―
			<div class='input-group date datepicker'>
				<input type='text' class="form-control  input-sm datepicker" id='answer_day_to' name="answer_day_to">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</div>
			</div>&nbsp;
			</div>&nbsp;
		</div>

		<!-- 拠点 -->
		<div class="form-group">
			<div class="section "></div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label" for="">お名前</label>
			<div class="col-md-3">
				<input type="text" class="form-control input-sm" id="interrogator_name" name="interrogator_name">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="no">ジャンル</label>
			<div class="col-md-4">
				<select class="form-control input-sm" id="genre" name="genre">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="">お問い合わせ内容</label>
			<div class="col-md-6">
				<input type="text" class="form-control input-sm" id="interrogator_info" name="interrogator_info">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-push-4">
				<a type="button" class="btn btn-primary btn-sm btn-block search" title="検索">検索</a>
			</div>
			<div class="col-md-2 col-md-push-4">
				<a type="button" id="" class="btn btn-primary btn-sm btn-block newInput" title="新規お問い合わせ入力" style="display:none;">新規お問い合わせ入力</a>
			</div>
		</div>
	</form>

	<hr>
