<div id="scrollTable" style="border-bottom: none">
	<table class="table table-bordered">
		<thead class="grad_head">
			<tr>
				<th class="tb_contact_date">お問い合わせ日時</th>
				<th class="tb_answer_date">回答日時</th>
				<th class="tb_corporate">企業名</th>
				<th class="tb_section">拠点</th>
				<th class="tb_interrogator_name">お名前</th>
				<th class="tb_genre">ジャンル</th>
				<th class="tb_interrogator_info">内容</th>
				<th class="tb_agreement_no">契約No</th>
				<th class="tb_detail">詳細</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
