<div class="row">
	<h1>お問い合わせ詳細</h1>
	<form class="form-horizontal">
		<div class="errors"></div>
		<div class="form-group corporate">
			<label class="col-md-2 control-label" for="no">企業名</label>
			<div class="col-md-4">
				<input type="text" class="form-control input-sm" id="corporate" value="" disabled="disabled">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="no">契約No</label>
			<div class="col-md-4">
				<input type="text" class="form-control input-sm" id="agreement_no" name="agreement_no" value="" disabled="disabled">
			</div>
		</div>
		<!-- 拠点 -->
		<div class="form-group">
			<label class="col-md-2 control-label" for="">拠点</label>
			<div class="col-md-3">
				<input type="text" class="form-control input-sm" id="section" name="section" value="" disabled="disabled">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="">お名前</label>
			<div class="col-md-3">
				<input type="text" class="form-control input-sm" id="interrogator_name" name="interrogator_name" value="" disabled="disabled">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="no">ジャンル</label>
			<div class="col-md-4">
				<input type="text" class="form-control input-sm" id="genre" name="genre" value="" disabled="disabled">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="">お問い合わせ内容</label>
			<div class="col-md-6">
				<textarea rows="10" class="form-control input-sm" id="interrogator_info" name="interrogator_info" disabled="disabled"></textarea>
			</div>
		</div>
		<div class="form-group interrogator_answer">
			<label class="col-md-2 control-label" for="">お問い合わせ回答</label>
			<div class="col-md-6">
				<textarea rows="10" class="form-control input-sm" id="interrogator_answer" name="interrogator_answer"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-push-4">
				<a type="button" class="btn btn-primary btn-sm btn-block answer" title="回答">回答</a>
				<a type="button" class="btn btn-primary btn-sm btn-block update" title="更新" style="display:none;">更新</a>
				<input type="hidden" class="form-control input-sm" id="inquiry_id" neme="inquiry_id" value="">
			</div>
			<div class="col-md-2 col-md-push-4">
				<a type="button" id="" class="btn btn-primary btn-sm btn-block back" title="戻る">戻る</a>
				<a type="button" id="" class="btn btn-primary btn-sm btn-block detail_back" title="戻る" style="display:none;">戻る</a>
			</div>
		</div>
	</form>
    <!-- アラートモーダル -->
    <div class="modal fade modal-dialog" id="myModal_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <p id="alert_txt"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_cancel" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
	<hr>
