				<div class="form-group">
					<label class="col-md-2 control-label" for="job_type">貸与パターン</label>
					<div class="col-md-5">
						<select id="job_type" name="job_type" class="form-control input-sm">
							{{#each job_type_list}}<option value="{{job_type_cd}}">{{job_type_name}}</option>{{/each}}
						</select>
					</div>
				</div>