<label class="col-md-2 control-label" for="">貸与パターン</label>
<div class="col-md-10">
	<select class="input-sm" id="job_type" name="job_type">
		{{#each job_type_list}}<option value="{{job_type_cd}}">{{job_type_name}}</option>{{/each}}
	</select>
	商品
	<select class="input-sm" name="">
		<option selected="selected">全て</option>
		<option>男性ジャケット</option>
		<option>男性シャツ</option>
		<option>男性ズボン</option>
		<option>女性ジャケット</option>
		<option>女性シャツ</option>
		<option>女性パンツ</option>
	</select>
	色
	<select class="input-sm" name="">
		<option selected="selected">全て</option>
		<option>紺</option>
		<option>赤</option>
		<option>白</option>
		<option>黒</option>
	</select>
	　サイズ
	 <input type="text" class="input-sm" id="" value="">
	　<a href="" type="button" class="btn btn-primary btn-sm" title="リセット">リセット</a>
</div>
