
<!-- start 本文エリア -->
<div class="row">
	<h1>貸与リスト</h1>
	<!-- start フォーム -->
	<form class="form-horizontal">
		<!-- 契約No -->
		<div class="form-group">
			<div class="agreement_no"></div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label" for="member_no">社員番号</label>
			<div class="col-md-3">
				<input type="text" id="member_no" name="member_no" class="form-control input-sm" maxlength="" placeholder="" />
			</div>
			<label class="col-md-2 control-label" for="member_name">着用者名</label>
			<div class="col-md-3">
				<input type="text" id="member_name" name="member_name" class="form-control input-sm" maxlength="" placeholder="" />
			</div>
		</div>

		<!-- 拠点 -->
		<div class="form-group">
			<div class="section"></div>
		</div>

		<!-- 貸与パターン、商品、色、サイズ、リセットボタン -->
		<div class="form-group row">
			<label class="col-md-2 control-label" for="">貸与パターン</label>
			<table>
				<tr>
					<!--div class="col-md-10"-->
						<th>
							<div class="job_type" style="font-weight:normal;"></div>
						</th>
						<th>
							<div class="input_item" style="font-weight:normal;"></div>
						</th>
						<th>
							<div class="item_color" style="font-weight:normal;"></div>
						</th>
						<th>
							<b>　サイズ</b>
							<input type="text" id="item_size" name="item_size" class="input-sm" maxlength="5" placeholder=""  style="font-weight:normal;">　
						</th>
						<th>
							<a type="button" class="btn btn-primary btn-sm reset" id="reset_button" title="リセット">リセット</a>
						</th>
					<!--/div-->
				</tr>
			</table>
		</div>

		<!--個体管理番号-->
		<div class="individual_number" style="display:none;"></div>

		<div class="form-group">
			<div class="col-md-2 col-md-push-2 " style="margin-left: 500px">
				<input type="hidden" class="ui_type" id="ui_type" name="ui_type" value="lend">
				<a type="button" data-page="1" class="btn btn-primary btn-sm btn-block search" title="検索" id="button1">検索</a>
			</div>
		</div>
	</form>
	<!-- end フォーム -->
    <!-- 確認モーダル -->
    <div class="modal fade modal-dialog" id="DownloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <p id="confirm_txt"></p>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button type="button" id="btn_cancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                        <button type="button" id="btn_ok"  class="btn btn-primary">実行</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<hr>
