<div id="scrollTable" style="border-bottom: none">
	<table class="table table-bordered">
		<thead class="grad_head">
			<tr>
				<th class="tb_member"><a href="#" id='cster_emply_cd' class="sort">社員番号</a></th>
				<th class="tb_now_office"><a href="#" id='now_rntl_sect_name' class="sort">現在の拠点</a></th>
				<th class="tb_old_office"><a href="#" id='old_rntl_sect_name' class="sort">納品時の拠点</a></th>
				<th class="tb_item_cd"><a href="#" id='item_code' class="sort">商品-色(サイズ-サイズ2)</a></th>
				<th rowspan="2" class="tb_individual_num" style="display:none;"><a href="#" id='individual_num' class="sort">個体管理番号</a></th>
				<th rowspan="2" class="tb_send_num">出荷数</th>
				<th rowspan="2" class="tb_send_day"><a href="#" id='send_ymd' class="sort">出荷日</a></th>
				<th rowspan="2" class="tb_return_shd_day"><a href="#" id='return_shd_ymd' class="sort">返却予定日</a></th>
				<th rowspan="2" class="tb_no"><a href="#" id='order_req_no' class="sort">発注No</a></th>
				<th class="tb_maker_rec_no"><a href="#" id='maker_rec_no' class="sort">メーカー受注番号</a></th>
			</tr>
			<tr>
				<th class="tb_werer_name"><a href="#" id='werer_name' class="sort">着用者名</a></th>
				<th class="tb_now_job_type"><a href="#" id='now_job_type_cd' class="sort">現在の貸与パターン</a></th>
				<th class="tb_old_job_type"><a href="#" id='old_job_type_cd' class="sort">納品時の貸与パターン</a></th>
				<th class="tb_item_name"><a href="#" id='item_name' class="sort">商品名</a></th>
				<th class="tb_maker_send_no"><a href="#" id='maker_send_no' class="sort">メーカー伝票番号</a></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
