<div class="container text-left">

    <!-- start 本文エリア -->
    <div class="row" style="margin-bottom:20px">
        <h1>ログインパスワード再設定</h1>

        <div class="row block">
            <div class="col-md-10">
                <ol>
                    <li>以下のフォームに企業ID 、ログインID を入力し、送信ボタンを押してください。</li>
                    <li>パスワード再設定用のURLがメールで届きますので、そのURLをブラウザで開いてください。</li>
                    <li>そのページで新しいパスワードを設定して下さい。</li>
                    <li>新しいパスワードでのログインが可能となります。</li>
                </ol>
            </div>
        </div>

        <!-- start フォーム -->
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label" for="barcode">企業ID</label>
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" id="corporate_id">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="barcode">ログインID</label>
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" id="login_id">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-push-2">
                    <a href="" type="button" class="btn btn-primary btn-sm btn-block submit" title="送信">送信</a>
                </div>
            </div>
        </form>
        <!-- end フォーム -->

    </div>
    <!-- end 本文エリア -->

    <!-- start フッターエリア -->
    <div class="footerarea row">
        <div class="text-center">Copyright © SUNPEXIST CORP. All rights reserved</div>
    </div>
    <!-- end フッターエリア -->
</div>