<div class="container text-left" role="login">
	<!-- start 本文エリア -->
	<div class="row" style="margin-bottom:20px" id="login_panel">
		<h1>ログイン</h1>
		<div class="errors"></div>
		<!-- start フォーム -->
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-2 control-label" for="corporate_id">企業ID</label>
				<div class="col-md-6">
					<input type="text" class="form-control input-sm" id="corporate_id" placeholder="企業IDを入力してください" required autofocus>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="login_id">ログインID</label>
				<div class="col-md-6">
					<input type="text" class="form-control input-sm" id="login_id" placeholder="ログインIDを入力してください" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="password">パスワード</label>
				<div class="col-md-6">
					<input type="password" class="form-control input-sm" id="password" placeholder="パスワードを入力してください" required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-2 col-md-push-2">
					<button class="btn btn-primary btn-sm btn-block"　type="submit">ログイン</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-8 col-md-push-2">
					<a href="login_password.html">パスワードをお忘れの方はこちら</a>
				</div>
			</div>
		</form>
		<!-- end フォーム -->

	</div>
	<!-- end 本文エリア -->

	<!-- start フッターエリア -->
	<div class="footerarea row">
		<div class="text-center">
			Copyright &copy; SUNPEXIST CORP. All rights reserved<br><br>
			※対象ブラウザは、Chrome 最新版、Firefox 最新版、Internet Explorer 11、Edgeです。</div>
	</div>
	<!-- end フッターエリア -->