
	  <!-- start 本文エリア -->
		<div class="row">
			<h1>人員明細照会</h1>
			<!-- start フォーム -->
			<form class="form-horizontal">
				<!-- 契約No -->
				<div class="form-group">
					<div class="agreement_no"></div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="order_day">対象年月</label>
					<div class="col-md-8 form-inline">
					<div class='input-group date datepicker'>
						<input type='text' class="form-control  input-sm datepicker" id='order_day_from' name="order_day_from">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>&nbsp;―
					<div class='input-group date datepicker'>
						<input type='text' class="form-control  input-sm datepicker" id='order_day_to' name="order_day_to">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>&nbsp;
					</div>&nbsp;
				</div>

				<!-- 拠点 -->
				<div class="form-group">
					<div class="section"></div>
				</div>

				<div class="form-group">
					<div class="col-md-2 col-md-push-2 " style="margin-left: 500px">
						<input type="hidden" class="ui_type" id="ui_type" name="ui_type" value="manpower_info">
						<a type="button" data-page="1" class="btn btn-primary btn-sm btn-block search" title="検索" id="button1">検索</a>
					</div>
				</div>
			</form>
			<!-- end フォーム -->

			<hr>
