
	  <!-- start 本文エリア -->
		<div class="row">
			<h1>請求書データ照会</h1>
			<!-- start フォーム -->
			<form class="form-horizontal">
				<!-- 契約No -->
				<div class="form-group">
					<div class="agreement_no"></div>
				</div>

				<!-- 対象年月 -->
				<div class="form-group">
					<label class="col-md-2 control-label" for="target_ym">対象年月</label>
					<div class="col-md-8 form-inline">
						<div class='input-group date datepicker'>
							<input type='text' class="form-control  input-sm datepicker" id='target_ym' name="target_ym">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
						</div>
					</div>
				</div>

				<!-- 拠点 -->
				<div class="form-group">
					<div class="section"></div>
				</div>
				<br>
				<br>
				<div class="form-group">
					<div class="col-md-2 col-md-push-2 " style="margin-left: 500px">
						<input type="hidden" class="ui_type" id="ui_type" name="ui_type" value="manpower_info">
						<a type="button" data-page="1" class="btn btn-primary btn-sm btn-block search" title="検索" id="button1" style="display: none;">検索</a>
					</div>
				</div>
				<!-- 確認モーダル -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
							</div>
							<div class="modal-body">
								<p id="confirm_txt"></p>
							</div>
							<div class="modal-footer">
								<button type="button" id="btn_cancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
								<button type="button" id="btn_ok"  class="btn btn-primary">実行</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="myModalAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
							</div>
							<div class="modal-body">
								<p id="alert_txt"></p>
							</div>
							<div class="modal-footer">
								<button type="button" id="alert_ok"  class="btn btn-primary" data-dismiss="modal">OK</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- end フォーム -->

			<hr>
