<div id="scrollTable" style="border-bottom: none">
	<table class="table table-bordered">
		<thead class="grad_head">
			<tr>
				<th class="tb_no">No.</th>
                <th class="tb_month">年月</th>
                <th class="tb_office">拠点</th>
				<th class="tb_manpower_num">人員数</th>
				<th class="tb_detail">詳細</th>
				<th class="tb_download">ダウンロード</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
