<div class="container" role="navigation">
	<nav class="row navbar navbar-default">
	<div class="navbar-header">
		<div class="navbar-brand">レンタル管理汎用システム</div>
		<button class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
			<span class="sr-only"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse" id="mainNav">
	<ul class="nav navbar-nav">
		<li class="nav_home"><a href="home.html" title="ホーム">ホーム <span class="glyphicon glyphicon-home"></span></a></li>
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">入力 <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="wearer_input.html" title="貸与開始">貸与開始</a></li>
			<li><a href="search_exchange.html" title="交換">交換</a></li>
			<li><a href="wearer_change.html" title="職種変更または異動">職種変更または異動</a></li>
			<li><a href="search_end.html" title="貸与終了">貸与終了</a></li>
		</ul>
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">検索・照会 <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="history.html" title="発注状況照会">発注状況照会</a></li>
			<li><a href="unreturn.html" title="返却状況照会">返却状況照会</a></li>
			<li><a href="receive.html" title="受領確認照会">受領確認照会</a></li>
			<li><a href="stock.html" title="在庫照会">在庫照会</a></li>
			<li><a href="lend.html" title="貸与リスト">貸与リスト</a></li>
			<li><a href="wearer.html" title="着用者照会">着用者照会</a></li>
			<li><a href="manpower_info.html" title="人員明細照会">人員明細照会</a></li>
		</ul>

		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">発注管理 <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="search_start.html" title="着用者入力">着用者入力</a></li>
			<li><a href="search_pre.html" title="検索">検索</a></li>
			<li><a href="order_send.html" title="発注送信処理">発注送信処理</a></li>
		</ul>
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">購買・その他 <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="purchase_input.html" title="注文入力">注文入力</a></li>
			<li><a href="purchase_history_pre.html" title="注文履歴">注文履歴</a></li>
			<li><a href="q_and_a.html" title="Q&amp;A">Q&amp;A</a></li>
			<li><a href="inquiry_pre.html" title="お問い合わせ">お問い合わせ</a></li>
		</ul>
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理者機能 <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="upload.html" title="一括データ取込">一括データ取込</a></li>
			<li><a href="account_pre.html" title="アカウント管理">アカウント管理</a></li>
			<li><a href="info.html" title="お知らせ管理">お知らせ管理</a></li>
		</ul>
		</ul>

		<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">こんにちは{{login_disp_name}}さん <span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="login.html">ログアウト</a></li>
		</ul>
	</ul>
	</div>
	</nav>
</div>

	<!--<nav class="row navbar navbar-default">-->
	<!--<div class="navbar-header">-->
	<!--<div class="navbar-brand">SIRIUS</div>-->
	<!--<button class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">-->
	<!--<span class="sr-only"></span>-->
	<!--<span class="icon-bar"></span>-->
	<!--<span class="icon-bar"></span>-->
	<!--<span class="icon-bar"></span>-->
	<!--</button>-->
	<!--</div>-->
	<!--<div class="collapse navbar-collapse" id="mainNav">-->
	<!--<ul class="nav navbar-nav">-->
	<!--<li class="nav_home"><a href="home.html" title="ホーム">ホーム <span class="glyphicon glyphicon-home"></span></a></li>-->
	<!--<li class="nav_importCsv"><a href="importCsv.html" title="CSV取込">CSV取込</a></li>-->
	<!--<li class="dropdown">-->
	<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="検索・照会">検索・照会 <span class="caret"></span></a>-->
	<!--<ul class="dropdown-menu">-->
	<!--<li class="nav_history"><a href="history.html" title="発注状況照会">発注状況照会</a></li>-->
	<!--<li class="nav_delivery"><a href="delivery.html" title="納品実績照会">納品実績照会</a></li>-->
	<!--<li class="nav_unreturn"><a href="unreturn.html" title="返却状況照会">返却状況照会</a></li>-->
	<!--<li class="nav_unreturned"><a href="unreturned.html" title="返却実績照会">返却実績照会</a></li>-->
	<!--<li class="nav_lend"><a href="lend.html" title="貸与リスト">貸与リスト</a></li>-->
	<!--<li class="nav_stock"><a href="stock.html" title="在庫照会">在庫照会</a></li>-->
	<!--</ul>-->

	<!--<li class="nav_receive"><a href="receive.html" title="受領確認">受領確認</a></li>-->
	<!--<li class="dropdown">-->

	<!--{{#if admin}}-->
	<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="管理">管理 <span class="caret"></span></a>-->
	<!--<ul class="dropdown-menu">-->
	<!--<li class="nav_account"><a href="account.html" title="アカウント管理">アカウント管理</a></li>-->
	<!--<li class="nav_info"><a href="info.html" title="おしらせ管理">おしらせ管理</a></li>-->
	<!--</ul>-->
	<!--{{/if}}-->
	<!--</ul>-->
	<!--<ul class="nav navbar-nav navbar-right">-->
	<!--<li class="dropdown">-->
	<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">こんにちは{{user_name}}さん <span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>-->
	<!--<ul class="dropdown-menu">-->
	<!--<li class="logout"><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>ログアウト</a></li>-->
	<!--</ul>-->
	<!--</li>-->
	<!--</ul>-->
	<!--</div>-->
	<!--</nav>-->
	<!--</div>-->
