<div id="scrollTable" style="border-bottom: none">
	<table class="table table-bordered">
		<thead class="grad_head">
			<tr>
                <th rowspan="2" class="check">選択<br>
                    <input type="checkbox" name="check" id="checkall" value=""></th>
				<th class="tb_member">社員番号</th>
				<th rowspan="2" class="tb_sex_kbn">性別</th>
				<th rowspan="2" class="tb_order_kbn">発注No.</th>
				<th class="tb_office">拠点</th>
                <th rowspan="2" class="tb_order_kbn">発注区分</th>
                <th rowspan="2" class="tb_status">状態</th>
                <th rowspan="2" class="tb_order_send">発注送信</th>
                <th rowspan="2" class="tb_order_cancel">発注取消</th>
                <!--
				<th class="tb_member"><a href="#" id='cster_emply_cd' class="sort">社員番号</a></th>
				<th rowspan="2" class="tb_sex_kbn"><a href="#" id='sex_kbn' class="sort">性別</a></th>
				<th rowspan="2" class="tb_order_kbn">発注</th>
				<th rowspan="2" class="tb_status">状態</th>
				<th class="tb_office"><a href="#" id='rntl_sect_name' class="sort">拠点</a></th>
				<th rowspan="2" class="tb_wearer_end">職種変更または異動<br>（入力/変更）</th>
                -->
			</tr>
			<tr>
				<th class="tb_werer_name">着用者名</th>
				<th class="tb_job_type">貸与パターン</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
    <div class="col-sm-2 col-sm-offset-10">
        <button type="button" data-page="1" class="btn btn-primary btn-sm btn-block updBtn" title="発注送信" id="order_send">発注送信</button>
    </div>
</div>