<div class="container" role="password">
    <div class="url_err"></div>
    <!-- start 本文エリア -->
    <div id="passwordContent" class="row none" style="margin-bottom:20px">
        <h1>パスワード変更</h1>
        <div class="errors"></div>

        <!-- start フォーム -->
        <form class="form-horizontal">
            <input type="hidden" class="form-control input-sm" id="tmp_corporate_id" value="">
            <input type="hidden" class="form-control input-sm" id="tmp_user_id" value="">
            <input type="hidden" class="form-control input-sm" id="user_id" value="{{user_id}}">

            <div class="form-group">
                <label class="col-md-2 control-label" for="barcode">パスワード</label>
                <div class="col-md-6">
                    <input type="password" class="form-control input-sm" id="password" placeholder="新規パスワードを入力してください" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="barcode">パスワード確認</label>
                <div class="col-md-6">
                    <input type="password" class="form-control input-sm" id="password_c" placeholder="パスワード（確認）を入力してください" required>
                </div>
            </div>
           <div class="form-group">
               <div class="col-md-2 col-md-offset-4">
                    <button class="btn btn-primary form-control backBtn none" type="button">戻る</button>
               </div>

               <div class="col-md-2">
                    <button class="btn btn-primary form-control password" type="submit">更新</button>
                </div>
            </div>
        </form>
        <!-- end フォーム -->

    </div>
    <!-- end 本文エリア -->
    <!-- start フッターエリア -->
    <div class="footerarea row">
        <div class="text-center">Copyright © 2017 Sunpex Ist Corporation All Rights Reserved.</div>
    </div>
    <!-- end フッターエリア -->
</div>