<div id="scrollTable" style="border-bottom: none">
    <table id="testTable" class="table table-bordered">
        <thead class="grad_head">
            <tr>
                <th class="th_account_no">商品名</th>
                <th class="th_corporate_id">色</th>
                <th class="th_login_id">サイズ</th>
                <th class="th_user_name">単価</th>
                <th class="th_login_name">数量</th>
            </tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<input type="hidden" id="total_records" value="">
<div class="total form-group">
    <div class="col-md-4 col-md-push-7">合計金額：￥<span id="total_price"></span>-</div>
</div>
<div class="col-md-2 col-md-push-9">
    <input type="hidden" class="ui_type" id="ui_type" name="ui_type" value="history">
    <a type="button" data-page="1" class="btn btn-primary btn-sm btn-block confirm" title="確認" id="button1">確認</a>
</div>