<div id="scrollTable" style="border-bottom: none">
    <table class="table table-bordered">
        <thead class="grad_head">
            <tr>
                <th class="th_account_no">商品名</th>
                <th class="th_corporate_id">色</th>
                <th class="th_login_id">サイズ</th>
                <th class="th_user_name">単価</th>
                <th class="th_login_name">数量</th>
            </tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<div class="total form-group"><div class="col-md-4 col-md-push-7">合計金額：￥9,260-</div></div>
