<div class="container" role="purchaseInput">
		<div class="condition col-sm-12"></div>
		<!-- end フォーム -->

	<div class="listTable col-sm-12"></div>
</div> <!-- /container -->
<div class="footer_area"></div>
<div class="purchase_modal"></div>
