<div class="row">
	<form class="form-horizontal">
		<div class="row">
			<div class="form-group corporate" style="display:none;">
				<label class="col-md-2 control-label" for="no">企業名</label>
				<div class="col-md-4">
					<select class="form-control input-sm" id="corporate" name="corporate">
					</select>
				</div>
			</div>
			<div class="col-md-2 col-md-push-10">
				<a href="q_and_a_input.html" type="button" class="btn btn-primary btn-sm btn-block update" style="display:none;" title="編集">編集</a>
			</div>
		</div>
	</form>
</div>
