<div class="form-group">
	<label class="col-md-3 control-label" for="">理由区分</label>
	<div class="col-md-3">
		<select class="form-control input-sm"  id="reason_kbn" name="reason_kbn">
			{{#each reason_kbn_list}}<option value="{{reason_kbn}}" {{selected}}>{{reason_kbn_name}}</option>{{/each}}
		</select>
	</div>
</div>
