	<label class="col-md-2 control-label" for="reason_kbn">理由区分</label>
	<div class="col-md-4">
		<select class="form-control input-sm"  id="reason_kbn" name="reason_kbn">
			{{#each reason_kbn_list}}<option value="{{reason_kbn}}" {{selected}}>{{reason_kbn_name}}</option>{{/each}}
		</select>
	</div>

