<div class="container" role="receive">
	<div class="condition col-sm-12"></div>
	<center>
		<div class="page col-sm-12"></div>
	</center>
	<form name="receive_list">
		<div class="listTable col-sm-12"></div>
	</form>
	<center>
		<table>
			<tr>
				<th><div class="page_2 col-sm-12"></div></th>
				<th><div class="csv_download col-sm-12"></div>
				<th><div class="receive_button"></div></th>
			</tr>
		</table>
	</center>
</div> <!-- /container -->
<div class="section_modal"></div>
<div class="detail_modal"></div>
<div class="footer_area"></div>
