
	  <!-- start 本文エリア -->
		<div class="row">
			<h1>受領確認照会</h1>
			<!-- start フォーム -->
			<form class="form-horizontal">
				<!-- 契約No -->
				<div class="form-group">
					<div class="agreement_no"></div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="no">発注No</label>
					<div class="col-md-3">
						<input type="text" id="no" name="no" class="form-control input-sm" maxlength="20" placeholder="" />
					</div>
					<label class="col-md-2 control-label" for="emply_order_no">お客様発注No</label>
					<div class="col-md-3">
						<input type="text" id="emply_order_no" name="emply_order_no" class="form-control input-sm" maxlength="20" placeholder="" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="member_no">社員番号</label>
					<div class="col-md-3">
						<input type="text" id="member_no" name="member_no" class="form-control input-sm" maxlength="" placeholder="" />
					</div>
					<label class="col-md-2 control-label" for="member_name">着用者名</label>
					<div class="col-md-3">
						<input type="text" id="member_name" name="member_name" class="form-control input-sm" maxlength="" placeholder="" />
					</div>
				</div>

				<!-- 伝票番号 -->
				<div class="form-group">
					<label class="col-md-2 control-label" for="maker_send_no">伝票番号</label>
					<div class="col-md-3">
						<input type="text" id="maker_send_no" name="maker_send_no" class="form-control input-sm" maxlength="8" placeholder="" />
					</div>
				</div>
				<!-- 拠点 -->
				<div class="form-group">
					<div class="section"></div>
				</div>

				<!-- 貸与パターン、商品、色、サイズ、リセットボタン -->
				<div class="form-group row">
					<label class="col-md-2 control-label" for="">貸与パターン</label>
					<table>
						<tr>
							<th>
								<div class="job_type" style="font-weight:normal;"></div>
							</th>
							<th>
								<div class="input_item" style="font-weight:normal;"></div>
							</th>
							<th>
								<div class="item_color" style="font-weight:normal;"></div>
							</th>
							<th>
								<b>　サイズ</b>
								<input type="text" id="item_size" name="item_size" class="input-sm" maxlength="5" placeholder=""  style="font-weight:normal;">　
							</th>
							<th>
								<a type="button" class="btn btn-primary btn-sm reset" id="reset_button" title="リセット">リセット</a>
							</th>
						</tr>
					</table>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="order_day">発注日</label>
					<div class="col-md-8 form-inline">
					<div class='input-group date datepicker'>
						<input type='text' class="form-control  input-sm datepicker" id='order_day_from' name="order_day_from">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>&nbsp;―
					<div class='input-group date datepicker'>
						<input type='text' class="form-control  input-sm datepicker" id='order_day_to' name="order_day_to">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>&nbsp;
					</div>&nbsp;
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="send_day">受領日</label>
					<div class="col-md-8 form-inline">
					<div class='input-group date datepicker'>
						<input type='text' class="form-control  input-sm datepicker" id='receipt_day_from' name="receipt_day_from">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>&nbsp;―
					<div class='input-group date datepicker'>
						<input type='text' class="form-control  input-sm datepicker" id='receipt_day_to' name="receipt_day_to">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>&nbsp;
					</div>&nbsp;
				</div>
				<div class="form-group">
					<div class="col-md-2 control-label"><b>ステータス</b></div>
					<div class="col-md-18">
						<label class="checkbox-inline"><input type="checkbox" id="status0" name="status[]" value="1" class="checkbox-inline" checked="1" />未受領（一部受領も含む）</label>
						<label class="checkbox-inline"><input type="checkbox" id="status1" name="status[]" value="2" class="checkbox-inline" />受領済</label>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-2 control-label" for="">発注区分</label>
					<div class="col-md-2">
						<label class="checkbox-inline allCheck"><input type="checkbox" id="order_kbn0" name="order_kbn[]" value="1" checked="1">貸与開始</label>
						<p class="btn btn-default plus" data-toggle="collapse" data-target="#start" aria-expanded="false"></p>
						<ul id="start" class="sub_checkbox collapse">
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn0" name="reason_kbn[]" value="01" checked>入社</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn1" name="reason_kbn[]" value="02" checked>復職</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn2" name="reason_kbn[]" value="03" checked>追加貸与</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn3" name="reason_kbn[]" value="04" checked>非着用部署からの異動</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn4" name="reason_kbn[]" value="19" checked>なし</label></li>
						</ul>
					</div>
					<div class="col-md-2">
						<label class="checkbox-inline allCheck"><input type="checkbox" id="order_kbn1" name="order_kbn[]" value="3" checked="1">交換</label>
						<p class="btn btn-default plus" data-toggle="collapse" data-target="#exchange" aria-expanded="false"></p>
						<ul id="exchange" class="sub_checkbox collapse">
							<!--li><label class="checkbox-block"><input type="checkbox" id="reason_kbn0" name="reason_kbn[]" value="2" checked>サイズ交換</label></li-->
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn5" name="reason_kbn[]" value="14" checked>消耗交換</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn6" name="reason_kbn[]" value="15" checked>破損</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn7" name="reason_kbn[]" value="16" checked>紛失</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn8" name="reason_kbn[]" value="17" checked>不良品</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn9" name="reason_kbn[]" value="21" checked>着用前</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn10" name="reason_kbn[]" value="22" checked>着用後</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn11" name="reason_kbn[]" value="23" checked>なし</label></li>
						</ul>
					</div>
					<div class="col-md-2">
						<label class="checkbox-inline allCheck"><input type="checkbox" id="order_kbn2" name="order_kbn[]" value="5" class="checkbox-inline" checked="1">職種変更または異動</label>
						<p class="btn btn-default plus" data-toggle="collapse" data-target="#change" aria-expanded="false"></p>
						<ul id="change" class="sub_checkbox collapse">
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn12" name="reason_kbn[]" value="09" checked>貸与パターン変更</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn13" name="reason_kbn[]" value="10" checked>拠点変更</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn14" name="reason_kbn[]" value="11" checked>拠点と貸与パターン変更</label></li>
						</ul>
					</div>
                    <!--
					<div class="col-md-2">
						<label class="checkbox-inline allCheck"><input type="checkbox" id="order_kbn3" name="order_kbn[]" value="2" class="checkbox-inline" checked="1">貸与終了</label>
						<p class="btn btn-default plus" data-toggle="collapse" data-target="#end" aria-expanded="false"></p>
						<ul id="end" class="sub_checkbox collapse">
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn15" name="reason_kbn[]" value="05" checked>退社</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn16" name="reason_kbn[]" value="06" checked>休職</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn17" name="reason_kbn[]" value="07" checked>不要品返却</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn18" name="reason_kbn[]" value="08" checked>非着用部門への異動</label></li>
							<li><label class="checkbox-block"><input type="checkbox" id="reason_kbn19" name="reason_kbn[]" value="24" checked>なし</label></li>
						</ul>
					</div>
					-->
					<div class="col-md-2">
						<label class="checkbox-inline"><input type="checkbox" id="order_kbn4" name="order_kbn[]" value="9" class="checkbox-inline" checked="1">その他</label>
					</div>
				</div>

				<!--個体管理番号-->
				<div class="individual_number" style="display:none;"></div>

				<div class="form-group">
					<div class="col-md-2 col-md-push-2 " style="margin-left: 500px">
						<input type="hidden" class="ui_type" id="ui_type" name="ui_type" value="receive">
						<a type="button" data-page="1" class="btn btn-primary btn-sm btn-block search" title="検索" id="button1">検索</a>
					</div>
				</div>
			</form>
			<!-- end フォーム -->
			<!-- 確認モーダル -->
			<div class="modal fade modal-dialog" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
						</div>
						<div class="modal-body">
							<p id="confirm_txt"></p>
						</div>
						<div class="modal-footer">
							<button type="button" id="btn_cancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
							<button type="button" id="btn_ok"  class="btn btn-primary">実行</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade modal-dialog" id="myModalAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
						</div>
						<div class="modal-body">
							<p id="alert_txt"></p>
						</div>
						<div class="modal-footer">
							<button type="button" id="alert_ok"  class="btn btn-primary" data-dismiss="modal">OK</button>
						</div>
					</div>
				</div>
			</div>

			<hr>
