<a type="button" class="btn btn-primary btn-sm" id="receive_button" title="受領" style="margin:20px 0;vertical-align:top">受領</a>
<!--form class="form-horizontal">
	<div class="form-group text-center col-md-2 col-md-push-5 control-label">
		<button type="submit" class="btn btn-primary btn-sm btn-block update_button">
			受領更新
		</button>
	</div>
</form-->
