<div class="container" role="receive">
	<div class="condition col-sm-12"></div>
	<div class="page col-sm-12"></div>
	<div class="listTable col-sm-12"></div>
<div class="receive_button"></div>

<!-- <form class="form-horizontal">
	<div class="form-group text-center">
		<div class="col-md-2 col-md-push-4 control-label">
			<a type="button" class="btn btn-primary btn-sm btn-block receive_button" title="受領更新" id="receive_button">受領更新</a>
		</div>
	</div>
</form> -->
</div> <!-- /container -->
<div class="detail_modal"></div>
<div class="footer_area"></div>

