<div class="listTable col-sm-17 sectionModal">
	<div>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th class="section_1">拠点コード</th>
				<th class="section_2">拠点名</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
