<label class="col-md-3 control-label" for="">拠点</label>
<div class="col-md-5 dspilb">
	<select class="form-control input-sm" name="section">
		{{#each section_list}}<option value="{{rntl_sect_cd}}">{{rntl_sect_name}}</option>{{/each}}
	</select>
</div>
<div class="col-md-2 dspilb">
	<a href="" type="button" class="btn btn-primary btn-sm btn-block" title="絞り込み" data-toggle="modal" data-target="#modal-example">絞り込み</a>
</div>