<form class="form-horizontal">
	<div class="form-group">
		<label class="col-md-2 control-label" for="rntl_sect_cd">拠点コード</label>
		<div class="col-md-3">
			<input type="text" id="rntl_sect_cd" name="rntl_sect_cd" class="form-control input-sm" maxlength="15" placeholder="" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label" for="rntl_sect_name">拠点名</label>
		<div class="col-md-6">
			<input type="text" id="rntl_sect_name" name="rntl_sect_name" class="form-control input-sm" maxlength="25" placeholder="" />
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-2 " style="margin-left: 300px">
			<a type="button" data-page="1" class="btn btn-primary btn-sm btn-block search" title="検索" id="button1">検索</a>
		</div>
	</div>
</form>