<div class="form-group" style="margin-bottom: 40px">
	<label class="col-md-3 control-label" for="">性別</label>
	<div class="col-md-2">
		<select class="form-control input-sm" name="sex_kbn" id="sex_kbn" disabled >
			{{#each sex_kbn_list}}<option value="{{sex_kbn}}" {{selected}}>{{sex_kbn_name}}</option>{{/each}}
		</select>
	</div>
</div>
