
	<select class="form-control input-sm" name="sex_kbn" id="sex_kbn">
		<option selected="selected"></option>
		{{#each sex_kbn_list}}<option value="{{gen_cd}}">{{gen_name}}</option>{{/each}}
	</select>
