
	<select class="form-control input-sm" name="snd_kbn" id="snd_kbn">
		<option value="">全て</option>
		{{#each snd_kbn_list}}<option value="{{snd_kbn}}" {{selected}}>{{snd_kbn_name}}</option>{{/each}}
	</select>
