<div class="form-group" style="margin-bottom: 40px">
<label class="col-md-3 control-label" for="">状態</label>
	<div class="col-md-2">
		<select class="form-control input-sm" name="snd_kbn" id="snd_kbn">
			{{#each snd_kbn_list}}<option value="{{snd_kbn}}" {{selected}}>{{snd_kbn_name}}</option>{{/each}}
		</select>
	</div>
</div>
