<table class="table table-bordered">
		<thead class="scrollHead">
		<tr class="fix">
			<th class="tb_item_name"><a href="#" id='item_name' class="sort">商品名</a></th>
			<th class="tb_item_code"><a href="#" id='item_cd' class="sort">商品コード</a></th>
			<th class="tb_item_color"><a href="#" id='color_cd' class="sort">色コード</a></th>
			<th class="tb_item_size"><a href="#" id='zksize_display_order' class="sort">サイズ</a></th>
			<th class="tb_zk_status_cd"><a href="#" id='zk_status_cd' class="sort">在庫状態</a></th>
			<th class="tb_zkwhcd"><a href="#" id='zkwhcd' class="sort">倉庫コード</a></th>
			<th class="tb_zkrc2">数量</th>
		</tr>
		</thead>
		<tbody class="scrollBody">
		</tbody>
	</table>
