
<!-- start 本文エリア -->
<div class="row">
	<h1>在庫照会</h1>
	<!-- start フォーム -->
	<form class="form-horizontal">
		<!-- 契約No -->
		<div class="form-group">
			<div class="agreement_no"></div>
		</div>

		<!-- 貸与パターン、商品、色、サイズ、リセットボタン -->
		<div class="form-group row">
			<label class="col-md-2 control-label" for="">貸与パターン</label>
			<table>
				<tr>
					<th>
						<div class="job_type_zaiko" style="font-weight:normal;"></div>
					</th>
					<th>
						<div class="item" style="font-weight:normal;"></div>
					</th>
					<th>
						<div class="item_color" style="font-weight:normal;"></div>
					</th>
					<th>
						<b>　サイズ</b>
						<input type="text" id="item_size" name="item_size" class="input-sm" maxlength="5" placeholder=""  style="font-weight:normal;">　
					</th>
					<th>
						<a type="button" class="btn btn-primary btn-sm reset" id="reset_button" title="リセット">リセット</a>
					</th>
				</tr>
			</table>
		</div>

		<div class="form-group">
			<div class="col-md-2 col-md-push-2 " style="margin-left: 500px">
				<input type="hidden" class="ui_type" id="ui_type" name="ui_type" value="stock">
				<a type="button" data-page="1" class="btn btn-primary btn-sm btn-block search" title="検索" id="button1">検索</a>
			</div>
		</div>
	</form>
	<!-- end フォーム -->
    <div class="modal fade modal-dialog" id="DownloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <p id="confirm_txt"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_ok" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
	<hr>
