<!--tr class="blue"-->
  <td>{{cster_emply_cd}}</td>
  <td>{{werer_name}}</td>
  <td>{{rntl_sect_name}}<tb>
  <td>{{job_type_name}}</td>
  <td><button class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#modal-example">詳細</button></td>
<!--/tr-->
