<div id="scrollTable" style="border-bottom: none">
	<table class="table table-bordered">
		<thead class="grad_head">
			<tr>
				<th class="tb_member"><a href="#" id='cster_emply_cd' class="sort">社員番号</a></th>
				<th class="tb_werer_name"><a href="#" id='werer_name' class="sort">着用者名</a></th>
				<th class="tb_office"><a href="#" id='rntl_sect_name' class="sort">拠点</a></th>
				<th class="tb_job_type"><a href="#" id='job_type_cd' class="sort">貸与パターン</a></th>
                <th class="tb_werer_sts_kbn"><a href="#" id='werer_sts_kbn' class="sort">着用者状況区分</a></th>
                <th class="tb_wearer_detail">詳細</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
