<div class="container" role="wearerInput">
	<!-- start 本文エリア -->
	<div class="row">
		<h1>着用者入力</h1>
		<!-- start フォーム -->
		<div class="row">
			<div class="col-md-2">
				<a type="button" class="btn btn-primary btn-sm btn-block" id="cancel" title="キャンセル">キャンセル</a>
			</div>
			<div class="col-md-2" id="input_delete_button">
				<a type="button" class="btn btn-primary btn-sm btn-block" id="input_delete" title="着用者入力取消">着用者入力取消</a>
			</div>
			<div class="col-md-3">
				<a href="wearer_search.html" type="button" class="btn btn-primary btn-sm btn-block" id="input_next" title="新規着用者登録の続きをする">新規着用者登録の続きをする</a>
			</div>
			<div class="col-md-2" id="input_insert_button">
				<a type="button" class="btn btn-primary btn-sm btn-block" id="input_insert" title="着用者のみ登録して終了">着用者のみ登録して終了</a>
			</div>
			<div class="col-md-2" id="input_item_button">
				<a type="button" class="btn btn-primary btn-sm btn-block" id="input_item" title="商品明細入力へ">商品明細入力へ</a>
			</div>
		</div>
		<form class="form-horizontal">
			<div class="col-md-10 box_purple">
				<div class="errors"></div>
				<div class="agreement_no"></div>
				<div class="condition col-sm-12"></div>
			</div>
		</form>
		<!-- end フォーム -->
	</div>
	<!-- 確認モーダル -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body">
					<p id="confirm_txt"></p>
				</div>
				<div class="modal-footer">
					<button type="button" id="btn_cancel" class="btn btn-default" data-dismiss="modal">いいえ</button>
					<button type="button" id="btn_ok"  class="btn btn-primary" data-dismiss="modal">はい</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModalAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body">
					<p id="alert_txt"></p>
				</div>
				<div class="modal-footer">
					<button type="button" id="alert_ok"  class="btn btn-primary" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end 本文エリア -->
</div> <!-- /container -->
<div class="section_modal"></div>
<div class="footer_area"></div>