<div class="row">
	<h1>発注入力（着用者編集）</h1>
	<div class="row">
		<div class="col-md-1">
			<button class="btn btn-primary back" title="戻る">戻る</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary delete" style="display:none;" name="delete_param" value="{{delete_param}}" title="発注取消">発注取消</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary complete" style="display:none;" name="complete_param" title="入力完了">入力完了</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary orderSend" style="display:none;" name="send_param" title="発注送信">発注送信</button>
		</div>
	</div>
	<form class="form-horizontal">
		<div class="col-md-10 box_purple">
			<div class="errors"></div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">契約No</label>
				<div class="col-md-5">
					<select class="form-control input-sm" id="agreement_no" name="agreement_no" disabled="disabled">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">理由区分</label>
				<div class="col-md-3">
					<select class="form-control input-sm"  id="reason_kbn" name="reason_kbn" disabled="disabled">
						<option value="18" selected>着用者編集</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">社員番号</label>
				<div class="col-md-6">
					<label class="checkbox-inline"><input type="checkbox" id="emply_cd_flg" name="emply_cd_flg[]">社員番号あり</label>&nbsp;&nbsp;
					<input type="text" class="input-sm" id="member_no" name="member_no" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">着用者名<span style="color:red">＊</span></label>
				<div class="col-md-9">
					<span class="col-xs-6" style="padding: 0px"><input type="text" class="form-control input-sm" id="member_name" name="member_name" value="" maxlength="22"></span><span style="color:red">&nbsp;&nbsp;(姓と名の間に全角スペースを入れてください)</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">着用者名（カナ）</label>
				<div class="col-md-9">
					<span class="col-xs-6" style="padding: 0px"><input type="text" class="form-control input-sm"  id="member_name_kana" name="member_name_kana" value="" maxlength="22"></span>
				</div>
			</div>
			<div class="form-group" style="margin-bottom: 40px">
				<label class="col-md-3 control-label" for="">性別<span style="color:red">＊</span></label>
				<div class="col-md-2">
					<select class="form-control input-sm" name="sex_kbn" id="sex_kbn">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">異動日</label>
				<div class="col-md-3">
					<input type="text" class="input-sm" id="resfl_ymd" name="resfl_ymd" value="" disabled="disabled">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">拠点</label>
				<div class="col-md-5 dspilb">
					<select class="form-control input-sm" id="section" name="section" disabled="disabled">
					</select>
				</div>
				<div class="col-md-2 dspilb">
					<a href="" type="button" id="section_btn" class="btn btn-primary btn-sm btn-block" title="絞り込み" data-toggle="modal" data-target="#modal-example" disabled>絞り込み</a>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">貸与パターン</label>
				<div class="col-md-5">
					<select class="form-control input-sm" id="job_type" name="job_type" disabled="disabled">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">出荷先</label>
				<div class="col-md-5">
					<select class="form-control input-sm" id="shipment" name="shipment" disabled="disabled">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">郵便番号</label>
				<div class="col-md-3">
					<input type="text" class="form-control input-sm" id="zip_no" name="zip_no" disabled="disabled" value="">
				</div>
			</div>
			<div class="form-group" style="margin-bottom: 40px">
				<label class="col-md-3 control-label" for="">住所</label>
				<div class="col-md-8">
					<textarea rows="3" class="form-control input-sm" id="address" name="address" disabled="disabled"></textarea>
				</div>
			</div>
		</div>
		<!-- 確認モーダル -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					</div>
					<div class="modal-body">
						<p id="confirm_txt"></p>
					</div>
					<div class="modal-footer">
						<button type="button" id="btn_cancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
						<button type="button" id="btn_ok"  class="btn btn-primary">実行</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModalAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					</div>
					<div class="modal-body">
						<p id="alert_txt"></p>
					</div>
					<div class="modal-footer">
						<button type="button" id="alert_ok"  class="btn btn-primary" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>
	</form>
