<div class="row">
	<h1>発注入力（職種変更または異動）</h1>
	<div class="row">
		<div class="col-md-1">
			<button class="btn btn-primary back" title="戻る">戻る</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary delete" style="display:none;" name="delete_param" value="{{delete_param}}" title="発注取消">発注取消</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary complete" style="display:none;" name="complete_param" title="入力完了">入力完了</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary orderSend" style="display:none;" name="send_param" title="発注送信">発注送信</button>
		</div>
	</div>
	<div style="padding-top:20px;">
		<div class="errors"></div>
	<div>
	<form class="form-horizontal">
		<div class="col-md-10 box_purple">
			<div class="agreement_no"></div>
			<div class="reason_kbn"></div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">社員コード</label>
				<div class="col-md-6">
					<!--<label class="checkbox-inline"><input type="checkbox" id="emply_cd_flg" name="emply_cd_flg[]" value="1" checked>社員コードあり</label>&nbsp;&nbsp;-->
					<input type="text" class="input-sm" id="member_no" name="member_no" value="" disabled="disabled">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">着用者名</label>
				<div class="col-md-7">
					<input type="text" class="form-control input-sm" id="member_name" name="member_name" value="" disabled="disabled">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">着用者名（カナ）</label>
				<div class="col-md-7">
					<input type="text" class="form-control input-sm"  id="member_name_kana" name="member_name_kana" value="" disabled="disabled">
				</div>
			</div>
			<div class="sex_kbn"></div>
			<input type='hidden' id='appointment_ymd' name="appointment_ymd">
			<div class="form-group">
				<label class="col-md-3 control-label" for="">着用開始日</label>
				<div class="col-md-8 form-inline">
					<div class='input-group date datepicker2'>
						<input type='text' class="form-control input-sm datepicker2" id='resfl_ymd' name="resfl_ymd">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="section"></div>
            <input type='hidden' id='bef_rntl_sect_cd' name="bef_rntl_sect_cd">
			<div class="job_type"></div>
            <input type='hidden' id='bef_job_type_cd' name="bef_job_type_cd">
			<div class="shipment"></div>
			<div class="form-group row">
				<label class="col-md-3 control-label" for="">コメント欄</label>
				<div class="col-md-9">
					<textarea rows="5" class="form-control input-sm" id="comment" name="comment"></textarea>
				</div>
			</div>
		</div>
	</form>
