<table>
  <th>新たに追加されるアイテム</th>
</table>
<table class="table table-bordered order_table">
  <thead class="grad_head">
    <tr>
      <th>No.</th>
      <th>アイテム</th>
      <th>選択方法</th>
      <th>標準枚数</th>
      <th>商品コード</th>
      <th>商品名</th>
      <th>色</th>
      <th>サイズ</th>
      <th>発注枚数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="edit">
      <td>5</td>
      <td>長袖シャツ</td>
      <td>通常</td>
      <td>3</td>
      <td>10003681BLU1301</td>
      <td>男性長袖シャツ</td>
      <td>白</td>
      <td class="input"><select class="form-control input-sm" name="">
          <option></option>
          <option>--SS</option>
          <option>---S</option>
          <option>---M</option>
          <option>---L</option>
          <option>--LL</option>
          <option>--3L</option>
          <option>--4L</option>
          <option>--5L</option>
        </select></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="edit">
      <td>6</td>
      <td>半袖シャツ</td>
      <td>通常</td>
      <td>3</td>
      <td>10003681BSU1301</td>
      <td>男性半袖シャツ</td>
      <td>白</td>
      <td class="input"><select class="form-control input-sm" name="">
          <option></option>
          <option>--SS</option>
          <option>---S</option>
          <option>---M</option>
          <option>---L</option>
          <option>--LL</option>
          <option>--3L</option>
          <option>--4L</option>
          <option>--5L</option>
        </select></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="edit">
      <td>7</td>
      <td>ネクタイ</td>
      <td>通常</td>
      <td>2</td>
      <td>10003681NTU1301</td>
      <td>ネクタイ</td>
      <td>ストライプ</td>
      <td class="input"><select class="form-control input-sm" name="">
          <option></option>
          <option>---F</option>
        </select></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
