<div class="row">
  <p class="col-md-7"></p>
  <p class="col-md-5">発注枚数 <input type="text" class="input-sm" id="" disabled="disabled" value="0" style="width:4em"> 枚　　　返却枚数 <input type="text" class="input-sm" id="" disabled="disabled" value="0" style="width:4em"> 枚
</div>
