<div class="row">
	<h1>発注入力（職種変更または異動）</h1>
	<!-- start フォーム -->
	<div class="row">
		<div class="col-md-1">
			<button class="btn btn-primary back" title="戻る">戻る</button>
			<!--<a href="wearer_change.html" type="button" class="btn btn-primary btn-sm btn-block" title="戻る">戻る</a>-->
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary delete" title="発注取消">発注取消</button>
			<!--<input type="button" class="btn btn-primary btn-sm btn-block delete" value="発注取消"/>-->
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary complete" title="入力完了">入力完了</button>
			<!--<a href="order_input_save.html" type="button" class="btn btn-primary btn-sm btn-block" title="入力完了">入力完了</a>-->
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary orderSend" title="発注送信">発注送信</button>
			<!--<a href="order_input_finish.html" type="button" class="btn btn-primary btn-sm btn-block" title="発注送信">発注送信</a>-->
		</div>
	</div>
	<form class="form-horizontal">
		<div class="col-md-10 box_purple">
			<!--契約No-->
			<div class="agreement_no"></div>

			<!--理由区分-->
			<div class="reason_kbn"></div>

			<div class="form-group">
				<label class="col-md-3 control-label" for="">社員コード</label>
				<div class="col-md-6">
					<label class="checkbox-inline"><input type="checkbox" id="emply_cd_flg" name="emply_cd_flg[]" value="1" checked>社員コードあり</label>&nbsp;&nbsp;
					<input type="text" class="input-sm" id="member_no" name="member_no" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">着用者名</label>
				<div class="col-md-7">
					<input type="text" class="form-control input-sm" id="member_name" name="member_name" value="{{this}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">着用者名（読み仮名）</label>
				<div class="col-md-7">
					<input type="text" class="form-control input-sm" id="" value="">
				</div>
			</div>

			<!--性別-->
			<div class="sex_kbn"></div>

			<div class="form-group">
				<label class="col-md-3 control-label" for="">発令日</label>
				<div class="col-md-8 form-inline">
					<div class='input-group date datepicker'>
						<input type='text' class="form-control input-sm datepicker" id='appointment_ymd' name="appointment_ymd">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</div>
			</div>

			<!--拠点-->
			<div class="section"></div>

			<!--貸与パターン-->
			<div class="job_type"></div>

			<!--出荷先、郵便番号、住所-->
			<div class="shipment"></div>

			<div class="form-group row">
				<label class="col-md-3 control-label" for="">コメント欄</label>
				<div class="col-md-9">
					<textarea rows="5" class="form-control input-sm" id=""></textarea>
				</div>
			</div>
		</div>
	</form>
	<!-- end フォーム -->
