<div id="scrollTable" style="border-bottom: none">
	<table class="table table-bordered">
		<thead class="grad_head">
			<tr>
				<th class="tb_member">社員番号</th>
				<th rowspan="2" class="tb_sex_kbn">性別</th>
				<th rowspan="2" class="tb_order_kbn">発注</th>
				<th rowspan="2" class="tb_status">状態</th>
				<th class="tb_office">拠点</th>
				<th rowspan="2" colspan="2" class="tb_size_change">交換<br>（入力/変更）</th>
			</tr>
			<tr>
				<th class="tb_werer_name">着用者名</th>
				<th class="tb_job_type">貸与パターン</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
