<div class="container" role="wearerChangeOrder">
	<div class="condition col-sm-12"></div>
	<!-- 確認モーダル -->
	<div class="modal fade modal-dialog" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body">
					<p id="confirm_txt"></p>
				</div>
				<div class="modal-footer">
					<button type="button" id="btn_cancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
					<button type="button" id="btn_ok"  class="btn btn-primary">実行</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade modal-dialog" id="myModalAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body">
					<p id="alert_txt"></p>
				</div>
				<div class="modal-footer">
					<button type="button" id="alert_ok"  class="btn btn-primary" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
	<div class="listTable col-sm-12"></div>
	<div class="complete col-sm-12"></div>
</div> <!-- /container -->
<div class="section_modal"></div>
<div class="section_modal_2"></div>
<div class="footer_area"></div>
