<div class="row">
	<h1>発注入力（サイズ交換）</h1>
	<div class="row">
		<div class="col-md-1">
			<button class="btn btn-primary back" title="戻る">戻る</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary delete" style="display:none;" name="delete_param" title="発注取消">発注取消</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary complete" style="display:none;" name="complete_param" title="入力完了">入力完了</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary orderSend" style="display:none;" name="send_param" title="発注送信">発注送信</button>
		</div>
	</div>
	<div style="padding-top:20px;">
		<div class="errors"></div>
	<div>
	<form class="form-horizontal">
		<div class="col-md-10 box_purple">
			<div class="form-group">
				<label class="col-md-3 control-label" for="">契約No</label>
				<div class="col-md-5">
					<select class="form-control input-sm" id="agreement_no" name="agreement_no" disabled="disabled">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">理由区分</label>
				<div class="col-md-4">
					<select class="form-control input-sm"  id="reason_kbn" name="reason_kbn">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">返却予定日</label>
				<div class="col-md-8 form-inline">
					<div class='input-group date datepicker'>
						<input type='text' class="form-control input-sm datepicker" id='return_date' name="return_date">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</div>
			</div>
			<!--<input type="hidden" id="member_no" name="member_no" value="">-->
			<div class="form-group">
				<label class="col-md-3 control-label" for="">社員コード</label>
				<div class="col-md-6">
					<!--<label class="checkbox-inline"><input type="checkbox" id="emply_cd_flg" name="emply_cd_flg[]" value="1" checked>社員コードあり</label>&nbsp;&nbsp;-->
					<input type="text" class="input-sm" id="member_no" name="member_no" value="" disabled="disabled">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">着用者名</label>
				<div class="col-md-7">
					<input type="text" class="form-control input-sm" id="member_name" name="member_name" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">着用者名（カナ）</label>
				<div class="col-md-7">
					<input type="text" class="form-control input-sm"  id="member_name_kana" name="member_name_kana" value="">
				</div>
			</div>
			<div class="form-group" style="margin-bottom: 40px">
				<label class="col-md-3 control-label" for="">性別</label>
				<div class="col-md-2">
					<select class="form-control input-sm" name="sex_kbn" id="sex_kbn">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">拠点</label>
				<div class="col-md-5 dspilb">
					<select class="form-control input-sm" id="section" name="section" disabled="disabled">
					</select>
				</div>
				<div class="col-md-2 dspilb">
					<a href="" type="button" id="section_btn" class="btn btn-primary btn-sm btn-block" title="絞り込み" data-toggle="modal" data-target="#modal-example" disabled>絞り込み</a>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">貸与パターン</label>
				<div class="col-md-5">
					<select class="form-control input-sm" id="job_type" name="job_type" disabled="disabled">
					</select>
				</div>
			</div>
			<input type="hidden" id="shipment" name="shipment" value="">
			<div class="form-group row">
				<label class="col-md-3 control-label" for="">コメント欄</label>
				<div class="col-md-9">
					<textarea rows="5" class="form-control input-sm" id="comment" name="comment"></textarea>
				</div>
			</div>
		</div>
	</form>
