<div class="row">
	<h1>発注入力（貸与終了）</h1>
	<!-- start フォーム -->
	<div class="row">
		<div class="col-md-1">
			<button class="btn btn-primary back" title="戻る">戻る</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary delete" style="display:none;" name="delete_param" value="{{delete_param}}" title="発注取消">発注取消</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary complete" style="display:none;" title="入力完了">入力完了</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary orderSend" style="display:none;" title="発注送信">発注送信</button>
		</div>
	</div>

	<!--エラーメッセージ-->
	<div style="padding-top:20px;">
		<div class="errors"></div>
	<div>

	<form class="form-horizontal">
		<div class="col-md-13 box_purple">
			<div class="form-group row">
				<div class="agreement_no"></div>
			</div>
			<div class="form-group row">
				<div class="reason_kbn"></div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="resfl_ymd">異動日<span style="color:red">＊</span></label>
				<div class="col-md-3">
					<div class='input-group date datepicker'>
						<input type="text" class="form-control  input-sm datepicker" id="resfl_ymd" name="resfl_ymd" value="">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="section"></div>
			</div>
			<div class="form-group">
				<div class="col-md-6">
					<div class="job_type"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-2 control-label" for="comment">コメント欄</label>
				<div class="col-md-6">
					<textarea rows="5" class="form-control input-sm" id="comment"></textarea>
				</div>
			</div>
		</div>
	</form>
	<!-- end フォーム -->
