<div class="container" role="wearerOrderComplete">
	<div class="row">
		<h1 id="title">保存完了</h1>
		<!-- start 本文エリア -->
		<div class="row">
			<label class="col-md-4 control-label" id="text">入力された情報を保存しました。</label>
			<form class="form-horizontal">
				<div class="condition col-sm-12"></div>
			</form>
			<!-- end フォーム -->
		</div>
	</div>
	<!-- end 本文エリア -->
</div> <!-- /container -->
<div class="footer_area"></div>