<!-- start 本文エリア -->
<div class="row">
  <h1>発注送信完了</h1>
	<!-- start フォーム -->
	<div class="row">
		<div class="col-md-4"><b>発注を受け付けました。</b></div>
	</div>
  <div class="row">
    <div class="col-md-4"><b>商品は1週間程度でお届けになります。</b></div>
  </div>
  <!--エラーメッセージ-->
	<div style="padding-top:10px; padding-bottom:20px;">
		<div class="errors"></div>
	<div>
  <span>
		<button class="btn btn-primary continueInput" title="続けて入力する">続けて入力する</button>
		<!--<input type="button" class="btn btn-primary btn-sm btn-block delete" value="発注取消"/>-->
	</span>
	<span style="padding-left: 10px;">
		<button class="btn btn-primary backHome" title="ホーム画面へ戻る">ホーム画面へ戻る</button>
		<!--<a href="order_input_save.html" type="button" class="btn btn-primary btn-sm btn-block" title="入力完了">入力完了</a>-->
	</span>
	<br/><br/>
	<span>
		<button class="btn btn-primary returnSlipDownload" title="返却伝票ダウンロード" style="display:none;">返却伝票ダウンロード</button>
		<!--<a href="order_input_finish.html" type="button" class="btn btn-primary btn-sm btn-block" title="発注送信">発注送信</a>-->
	</span>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!-- end 本文エリア -->
