
<!-- start フォーム -->
<div class="row">
	<div class="col-md-2">
		<a href="#" type="button" class="btn btn-primary btn-sm btn-block" id="next_button" title="続けて入力する">続けて入力する</a>
	</div>
	<div class="col-md-2">
		<a href="#" type="button" class="btn btn-primary btn-sm btn-block" id="home_button" title="ホーム画面に戻る">ホーム画面に戻る</a>
	</div>
</div>
<br/><br/>
<!-- start フォーム -->
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-primary returnSlipDownload" title="返却伝票ダウンロード" style="display:none;">返却伝票ダウンロード</button>
    </div>
</div>
<br/><br/>
