<div id="scrollTable" style="border-bottom: none">
	<table class="table table-bordered">
		<thead class="grad_head">
			<tr>
				<th class="tb_no"><a href="#" id='order_req_no' class="sort">発注No</a></th>
				<th rowspan="2" class="tb_kubun"><a href="#" id='order_sts_kbn' class="sort">発注区分</a></th>
				<th class="tb_office"><a href="#" id='rntl_sect_name' class="sort">拠点</a></th>
				<th class="tb_member"><a href="#" id='cster_emply_cd' class="sort">社員番号</a></th>
				<th class="tb_item_cd"><a href="#" id='item_code' class="sort">商品-色(サイズ-サイズ2)</a></th>
				<th rowspan="2" class="tb_order_num">発注数</th>
				<th class="tb_maker_rec_no"><a href="#" id='maker_rec_no' class="sort">メーカー受注番号</a></th>
				<th rowspan="2" class="tb_order_rec_num">受注数</th>
				<th rowspan="2" class="tb_status"><a href="#" id='order_status' class="sort">ステータス</a></th>
				<th class="tb_maker_send_no"><a href="#" id='maker_send_no' class="sort">メーカー伝票番号</a></th>
				<th rowspan="2" class="tb_send_num">出荷数</th>
				<th rowspan="2" class="tb_individual_num" style="display:none;"><a href="#" id='individual_num' class="sort">個体管理番号</a></th>
				<th rowspan="2" class="tb_order_rec_day"><a href="#" id='order_res_ymd' class="sort">受領日</a></th>
				<th class="tb_rental_no"><a href="#" id='rental_no' class="sort">契約No</a></th>
			</tr>
			<tr>
				<th class="tb_order_day"><a href="#" id='order_req_ymd' class="sort">発注日</a></th>
				<th class="tb_job_type"><a href="#" id='job_type_cd' class="sort">貸与パターン</a></th>
				<th class="tb_werer_name"><a href="#" id='werer_name' class="sort">着用者名</a></th>
				<th class="tb_item_name"><a href="#" id='item_name' class="sort">商品名</a></th>
				<th class="tb_send_shd_day"><a href="#" id='send_shd_ymd' class="sort">出荷予定日</a></th>
				<th class="tb_send_day"><a href="#" id='send_ymd' class="sort">出荷日</a></th>
				<th class="tb_rental_name"><a href="#" id='rental_name' class="sort">契約名</a></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
