<!-- 確認モーダル -->
<div class="modal fade modal-dialog" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p id="confirm_txt"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_cancel" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="scrollTable" style="border-bottom: none">
	<table class="table table-bordered">
		<thead class="grad_head">
			<tr>
				<th class="tb_member">社員番号</th>
				<th rowspan="2" class="tb_sex_kbn">性別</th>
				<th rowspan="2" class="tb_order_kbn">発注</th>
				<th rowspan="2" class="tb_status">状態</th>
				<th class="tb_office">拠点</th>
				<th rowspan="2" class="tb_wearer_end">追加貸与<br>（入力/変更）</th>
				<th rowspan="2" class="tb_wearer_end">不用品返却<br>（入力/変更）</th>
			</tr>
			<tr>
				<th class="tb_werer_name">着用者名</th>
				<th class="tb_job_type">貸与パターン</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>