<!-- start 本文エリア -->
<div class="row">
	<h1>着用者入力</h1>
	<!-- start フォーム -->
	<div class="row">
		<div class="col-md-2 col-md-push-2">
			<a href="index.html" type="button" class="btn btn-primary btn-sm btn-block" title="キャンセル">キャンセル</a>
		</div>
		<div class="col-md-3 col-md-push-2">
			<a href="wearer_input_finish.html" type="button" class="btn btn-primary btn-sm btn-block" title="着用者のみ登録して終了">着用者のみ登録して終了</a>
		</div>
		<div class="col-md-3 col-md-push-2">
			<a href="order_input.html" type="button" class="btn btn-primary btn-sm btn-block" title="商品明細入力へ">商品明細入力へ</a>
		</div>
	</div>
	<form class="form-horizontal">
		<div class="col-md-10 box_purple">
			<!-- 契約No -->
			<div class="form-group" style="margin-bottom: 40px">
				<div class="agreement_no"></div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label" for="">社員コード</label>
				<div class="col-md-6">
					<label class="checkbox-inline"><input type="checkbox">社員コードあり　</label> <input type="text" class="input-sm" id="" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">着用者名（漢字）</label>
				<div class="col-md-7">
					<input type="text" class="form-control input-sm" id="" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">着用者名（読み仮名）</label>
				<div class="col-md-7">
					<input type="text" class="form-control input-sm" id="" value="">
				</div>
			</div>
			<div class="form-group" style="margin-bottom: 40px">
				<label class="col-md-3 control-label" for="">性別</label>
				<div class="col-md-2">
					<select class="form-control input-sm" name="">
						<option selected="selected"></option>
						<option>女性</option>
						<option>男性</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">異動日</label>
				<div class="col-md-3">
					<input type="text" class="form-control input-sm" id="" value="">
				</div>
			</div>

			<!-- 拠点 -->
			<div class="form-group">
				<div class="section"></div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">貸与パターン</label>
				<div class="job_type"></div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">出荷先</label>
				<div class="col-md-5">
					<select class="form-control input-sm" name="">
						<option selected="selected">支店店舗と同じ</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="">郵便番号</label>
				<div class="col-md-3">
					<input type="text" class="form-control input-sm" id="" disabled="disabled" value="">
				</div>
			</div>
			<div class="form-group" style="margin-bottom: 40px">
				<label class="col-md-3 control-label" for="">住所</label>
				<div class="col-md-8">
					<textarea rows="3" class="form-control input-sm" id="" disabled="disabled"></textarea>
				</div>
			</div>

		</div>
	</form>
	<!-- end フォーム -->
</div>

<!-- end 本文エリア -->