<table>
  <th>現在貸与中のアイテム</th>
</table>
<table class="table table-bordered order_table">
  <thead class="grad_head">
    <tr>
      <th>No.</th>
      <th>アイテム</th>
      <th>標準枚数</th>
      <th>商品コード</th>
      <th>商品名</th>
      <th>サイズ</th>
      <th>対象</th>
      <th>個体管理№</th>
      <th>追加枚数</th>
      <th>返却枚数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>ベスト</td>
      <td>2</td>
      <td>10003681VEM1301-B2</td>
      <td>男性ベスト</td>
      <td>---L</td>
      <td><label><input type="checkbox" ></label><br><label><input type="checkbox" ></label></td>
      <td>0368429<br>5928503</td>
      <td></td>
      <td>2</td>
    </tr>
    <tr>
      <td>2</td>
      <td>長袖シャツ</td>
      <td>3</td>
      <td>10003681BLM1301-K1</td>
      <td>男性長袖シャツ</td>
      <td>---L</td>
      <td><label><input type="checkbox" ></label><br><label><input type="checkbox" ></label><br><label><input type="checkbox" ></label></td>
      <td>0068429<br>2965490<br>3238654</td>
      <td></td>
      <td>3</td>
    </tr>
    <tr>
      <td>3</td>
      <td>半袖シャツ</td>
      <td>3</td>
      <td>10003681BSM1301-K1</td>
      <td>男性半袖シャツ</td>
      <td>---L</td>
      <td><label><input type="checkbox" ></label><br><label><input type="checkbox" ></label><br><label><input type="checkbox" ></label></td>
      <td>0004678<br>0129652<br>1956856</td>
      <td></td>
      <td>3</td>
    </tr>
    <tr class="blue">
      <td>4</td>
      <td>スラックス</td>
      <td>2</td>
      <td>10003681PAM1301-B9</td>
      <td>メンズスラックス</td>
      <td>---M</td>
      <td><label><input type="checkbox" disabled="disabled"><br><label><input type="checkbox" disabled="disabled" ></label></label></td>
      <td>0224234<br>0258453</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
