<div class="container" role="wearerInputComplete">
	<div class="row">
		<h1>入力完了</h1>
		<!-- start 本文エリア -->
		<div class="row">
			<label class="col-md-4 control-label">着用者情報を登録しました。</label>
			<form class="form-horizontal">
				<div class="condition col-sm-12"></div>
			</form>
			<!-- end フォーム -->
		</div>
	</div>
	<!-- end 本文エリア -->
</div> <!-- /container -->
<div class="footer_area"></div>